In [ ]:
import pandas as pd
import numpy as np
import re
from tqdm import tqdm

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

from pycaret.regression import *

In [2]:
sci = pd.read_csv('../datasets/science_cleaned_df.csv')
phi = pd.read_csv('../datasets/philosophy_cleaned_df.csv')

In [3]:
pd.set_option('display.max_colwidth', None)

sci_phi = pd.concat([sci, phi])
sci_phi.drop(sci_phi.loc[sci_phi['message'].isnull(), ].index, inplace = True)
sci_phi['subreddit'] = sci_phi['subreddit'].map({'science': 0, 'philosophy': 1})
sci_phi.reset_index(drop = True, inplace = True)
sci_phi.drop(columns = ['ori_message'], inplace = True)

sci_phi.head()

,subreddit,message
0,0,2022 nobel prize physiolog medicin svant pääbo discoveri concern genom extinct hominin human evolut
1,0,india vs south africa 2nd t20
2,0,want better relationship dog 7 factor key
3,0,record avian flu outbreak see 48m bird cull uk eu
4,0,review articl focu effect oxid fatti acid deriv linol acid common fatti acid veget seed oil arachidon acid pathogenesi progress nafld youth

In [4]:
#from textblob import TextBlob

In [ ]:
sci_phi['re'] = sci_phi['message'].apply(lambda x: re.sub("[^a-zA-Z0-9\s]+", " ", x))

In [6]:
#sci_phi['re'] = sci_phi['re'].apply(lambda x: re.sub("\b\d+\b", " ", x))

In [7]:
sci_phi.head()

,subreddit,message,re
0,0,2022 nobel prize physiolog medicin svant pääbo discoveri concern genom extinct hominin human evolut,2022 nobel prize physiolog medicin svant p bo discoveri concern genom extinct hominin human evolut
1,0,india vs south africa 2nd t20,india vs south africa 2nd t20
2,0,want better relationship dog 7 factor key,want better relationship dog 7 factor key
3,0,record avian flu outbreak see 48m bird cull uk eu,record avian flu outbreak see 48m bird cull uk eu
4,0,review articl focu effect oxid fatti acid deriv linol acid common fatti acid veget seed oil arachidon acid pathogenesi progress nafld youth,review articl focu effect oxid fatti acid deriv linol acid common fatti acid veget seed oil arachidon acid pathogenesi progress nafld youth

In [8]:
# Import TFIDF Vectorizer with best parameters in Notebook (3)
tvec = TfidfVectorizer(min_df = 0.0001, ngram_range = (1, 2))

In [10]:
sci_phi_bi = pd.DataFrame(
    tvec.fit_transform(sci_phi['re']).todense(),
    columns = tvec.get_feature_names()
)

In [11]:
sci_phi_bi.head()

,00,000,000 000,000 adult,000 american,000 children,000 death,000 new,000 particip,000 peopl,...,zombi,zone,zone averag,zone podcast,zone shift,zoo,zoom,zoonot,zuckerberg,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
pyc_model = setup(data = sci_phi_bi, target = 'subreddit', verbose = True)

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .            21:45:02
Status     . . . . . . . . . . . . . . . . . .  Preprocessing Data

In [ ]:
best_model = compare_models()